@import "../../../../style/settings/index";

.HomeContent {
    display: flex;
    align-items: center;
    justify-content: center;

    & &__image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $global-color-black;
        box-shadow: 8px 8px 8px rgba(0,0,0,0.1);
    }

    & &__image + &__image {
        margin-top: 20px;
    }

    & &__imageContent {
        max-width: 100%;
        height: auto;
    }

    & &__imageDate {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        font-weight: bold;
        color: $global-color-white;
    }
}