@import "../../../../style/settings/index";

.HomeContent {
    @keyframes fadeIn {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    & &__contents {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: -20px;
        margin-left: -20px;

        animation: fadeIn 5s;
    }

    & &__content {
        box-sizing: border-box;
        padding-top: 20px;
        padding-left: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

   & &__skelton {
        box-sizing: border-box;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding: 20px 12px;
        border: 1px solid #f0f0f0;
        box-shadow: 8px 8px 8px rgba(0,0,0,0.1);
   }

   & &__skeltonContent {
       position: relative;
       display: flex;
       align-items: flex-end;
       justify-content: flex-end;
       opacity: 0.2;
       background-color: $globa-color-skelton;
       width: 300px;
       height: 180px;
    //    filter: drop-shadow(8px 8px 8px rgba(0,0,0,0.6));
   }

   & &__text {
       position: absolute;
       width: 100%;
       height: 100%;
       top: 50%;
       left: 50%;
       transform: translateY(-50%) translateX(-50%);
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
   }

   & &__textValue {
       flex-shrink: 0;
   }

   & &__textValue + &__textValue {
       margin-left: 4px;
   }

   & &__date {
       font-size: 11px;
       padding-right: 8px;
       padding-bottom: 8px;
   }
}