@import '../../../../style/index';

.ModalImage {
    $animation-duration: 0.15s;

    position: fixed;
    top: 0;
    left: 0;
    
    & &__trigger {
        display: block;
    }

    & &__background {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100vh;
    }

    & &__close {
        position: absolute;
        top: 4px;
        right: 8px;
    }

    & &__closeLink {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 4px;
        right: 0;
        width: 24.53px;/*枠の大きさ*/
        height: 24.53px;/*枠の大きさ*/

        &::before,
        &::after {
            content: "";
            display: block;
            width: 1px;
            height: 28px;
            background: #808080;
            transform: rotate(45deg);
            // transform-origin: 0% 50%;
            position: absolute;
            top: calc(14% - 5px);
            left: 50%;
        }

        &::after {
            transform: rotate(-45deg);
            // transform-origin: 100% 50%;
        }
    }

    & &__mainArea {
        position: absolute;
        box-sizing: border-box;
        width: 70%;
        height: 90%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: #ffffff;
        padding: 48px 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    & &__image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 0;
    }

    & &__imageSkelton {
        background-color: #dddddd;
        width: 1282px;
        max-width: 100%;
        height: 854px;
        max-height: 100%;
        transition: visibility 0s $animation-duration;
    }

    & &__imageContent {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
    }

    & &__image.ModalImage__image--done {
        .ModalImage__imageSkelton {
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
        }
 
        .ModalImage__imageContent {
            position: static;
            visibility: visible;
            animation: ReadImage-doneAnimation $animation-duration ease-in-out 1;
            opacity: 1;
        }
    } 

    & &__descriptions {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-top: 12px;
    }

    & &__description {
        font-weight: bold;
        padding-top: 8px;
    }

    & &__description + &__description {
        margin-left: 16px;
    }
}

@keyframes ReadImage-doneAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}