@import "./settings/index";
@import "./default.scss";

:root {
  font: #{$global-base-font-size}/#{$global-base-line-height} #{$global-base-font-family};
  color: $global-color-black;
}

html,
body,
#main {
  font-size: inherit;
}

body {
  line-height: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
