@import '../../../../style/index';

.Introduction {
    & &__columns {
        display: flex;
    }

    & &__columnLeft {
        flex-shrink: 0;
    }

    & &__columnRight {
        flex-grow: 1;
        margin-left: 20px;
        padding-top: 20px;
    }

    & &__image {
        background-color: #808080;
        width: 300px;
        height: 300px;
    }

    & &__name {
        font-weight: bold;
        font-size: 17px;
    }

    & &__text {
        margin-top: 16px;
        line-height: 1.2;
    }

    & &__text + &__text {
        margin-top: 12px;
    }
}