@import "../../../../style/settings/index";

.Introduction {
  & &__image {
    background-color: $global-color-gray;
    height: auto;
  }

  & &__columns {
    margin-top: 40px;
    display: flex;
  }

  & &__columnLeft {
    width: 50%;
  }

  & &__columnRight {
    width: 50%;
    margin-left: 20px;
  }

  & &__name {
    font-size: 18px;
  }

  & &__text {
    margin-top: 16px;
    line-height: 1.4;
  }

  & &__text + &__text {
    margin-top: 8px;
  }

  & &__biography {
    margin-top: 40px;
  }

  & &__biographyTitle {
    font-size: 20px;
    font-weight: bold;
  }

  & &__biographyItems {
    margin-top: 16px;
  }

  & &__biographyItem {
    display: flex;
  }

  & &__biographyItem + &__biographyItem {
    margin-top: 8px;
  }

  & &__biographyItemHeading + &__biographyItemContent {
    margin-left: 12px;
  }

  & &__biographyItemContentLink {
    color: inherit;

    &:hover {
      color: $global-color-gray;
    }
  }
}
