@import "../../../../style/settings/index";

.ContentHeader {
    & &__title {
        font-family: 'Nothing You Could Do', cursive;
        font-size: 17px;
        padding-bottom: 12px;
        border-bottom: 1px solid #c9c9c9;
    }
}