@import "../../../../../style/settings/index";

.Fig {
  padding-bottom: 40px;

  & &__image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & &__imageContent {
    width: 100%;
    height: auto;
  }

  & &__title {
    margin-top: 16px;
    font-size: 20px;
    font-weight: bold;
  }

  & &__year {
    margin-top: 12px;
  }

  & &__role {
    margin-top: 8px;
  }

  & &__link {
    margin-top: 16px;
  }

  & &__linkContent {
    color: inherit;

    &:hover {
      opacity: 0.8;
    }
  }
}
