@import '../../../../../style/index';

.Planckunits {
  padding-bottom: 40px;

  & &__image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & &__imageContent {
    max-width: 100%;
    height: auto;
  }

  & &__title {
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
  }

  & &__year {
    margin-top: 16px;
    font-size: 15px;
  }

  & &__role {
    margin-top: 8px;
  }

  & &__link {
    margin-top: 16px;
  }

  & &__linkContent {
    color: inherit;

    &:hover {
      opacity: 0.8;
    }
  }

  & &__description {
    margin-top: 80px;
  }

  & &__descriptionTitle {
    text-align: center;
    font-size: 21px;
    font-weight: bold;
  }

  & &__descriptionTheme {
    margin-top: 40px;
  }

  & &__descriptionThemeText {
    display: block;
    line-height: 1.4;
  }

  & &__descriptionThemeText + &__descriptionThemeText {
    margin-top: 12px;
  }

  & &__brochureDescription {
    margin-top: 80px;
  }

  & &__brochureDescriptionTitle {
    text-align: center;
    font-size: 21px;
    font-weight: bold;
  }

  & &__brochureDescriptionItems {
    margin-top: 40px;
  }

  & &__brochureDescriptionItem {
    display: flex;
  }

  & &__brochureDescriptionItem + &__brochureDescriptionItem {
    margin-top: 20px;
  }

  & &__brochureItemHeading {
    font-weight: bold;
    flex-shrink: 0;
    flex-basis: 200px;
  }

  & &__brochureItemText {
    flex-grow: 1;
  }

  & &__brochureImages {
    margin-top: 40px;
  }

  & &__brochureImage {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & &__brochureImage + &__brochureImage {
    margin-top: 20px;
  }

  & &__brochureImageContent {
    max-width: 100%;
    height: auto;
  }
}