@import '../../../style/index';

.Header {
    & &__columns {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    & &__columnLeft {
        flex-shrink: 0;
    }

    & &__columnRight {
        margin-left: 28px;
    }

    & &__columnLink {
        display: block;
        color: inherit;
        text-decoration: inherit;
    }

    & &__title {
        font-weight: bold;
        padding-bottom: 20px;
    }

    & &__rightContents {
        display: flex;
    }

    & &__rightContent + &__rightContent {
        margin-left: 14px;
        padding-left: 14px;
        border-left: 1px solid #808080;
    }

    & &__link {
        color: inherit;
        text-decoration: inherit;
        font-size: 13px;

        &:hover {
            opacity: 0.5;
        }
    }
}