@import "../../../../style/settings/index";

.WorkContent {
  & &__item + &__item {
    margin-top: 20px;
  }

  & &__itemImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid $global-color-gray;
  }

  & &__imageContent {
    width: 100%;
    height: auto;
  }

  & &__year {
    margin-top: 8px;
    font-size: 16px;
  }

  & &__title {
    margin-top: 2px;
  }
}
