@import '../../../style/index';

.PageTemplate {
    padding: 0 20px;
    min-height: 812px;
    display: flex;
    flex-direction: column;

    & &__header,
    & &__footer {
        padding-top: 20px; 
    }

    & &__main {
        margin-top: 40px;
    }

    & &__introduction,
    & &__imageGrid,
    & &__socialLinks {
        margin-top: 20px;
    }

    & &__footer {
        margin-top: auto;
        padding-bottom: 20px;
    }

    & &__spContent {
        color: red;
        font-weight: bold;
        font-size: 15px;
    }
}