@import "../../../../style/settings/index";

.WorkDetailTemplate {
    min-height: 812px;
    display: flex;
    flex-direction: column;
    position: relative;

    & &__loading {
        flex-grow: 1;
    }

    & &__main {
        margin-top: 20px;
        padding: 0 24px;
    }

    & &__footer {
        padding-top: 20px; 
        margin-top: auto;
    }
}