@import "../../../../style/index";

.Header {
    padding: 32px 28px;
    
    & &__columns {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & &__columnLeft {
        flex-shrink: 0;
    }


    & &__columnLink {
        display: block;
        color: inherit;
        text-decoration: inherit;
    }

    & &__icon,
    & &__title {
        display: inline-block;
        vertical-align: middle;
    }

    & &__icon {
        font-size: 13px;
    }

    & &__title {
        font-weight: bold;
        font-size: 15px;
        margin-left: 4px;
    }

    & &__trigger {
        padding: 0;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 200ms all ease;
        background-color: #ffffff;
    }

    & &__triggerIcon {
        display: block;

        &::before {
            content: "";
            display: block;
            width: 20px;
            height: 2px;
            background-color: #808080;
            border-radius: 5px;
            transition: 400ms all ease;
        }
    }

    & &__triggerIcon + &__triggerIcon::before{
        margin-top: 4px;
    }

    & &__trigger.Header__trigger--open {
        .Header__triggerIcon:nth-child(1)::before {
            transform: translate(2px, 6px) rotate(45deg);
        }

        .Header__triggerIcon:nth-child(2)::before {
            opacity: 0;
        }

        .Header__triggerIcon:nth-child(3)::before {
            transform: translate(2px, -6px) rotate(-45deg);
        }
    }

    &__modal {
        position: absolute;
        top: 64px + 15px;
    }
}