@import "../../../../style/settings/index";

.ImageGrid {
   $animation-duration: 0.15s;

   & &__items {
       display: flex;
       flex-wrap: wrap;
       margin-top: -20px;
       margin-left: -20px;
   }

   & &__item {
        box-sizing: border-box;
        padding-top: 20px;
        padding-left: 20px;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
   }

   & &__link {
       display: block;
       width: 100%;
       height: 100%;
       cursor: pointer;

       &:hover {
           opacity: 0.8;
       }
   }

   & &__image {
       position: relative;
       box-sizing: border-box;
       display: flex;
       height: 100%;
       align-items: center;
       justify-content: center;
       padding: 20px 12px;
       border: 1px solid $global-color-gray-3;
   }

   & &__imageSkelton {
       background-color: $global-color-gray-3;
       width: 100%;
       height: 250px;
       transition: visibility 0s $animation-duration;
   }

   & &__imageContent {
       width: auto;
       max-width: 100%;
       height: auto;
       max-height: 253px;
       position: absolute;
       top: 0;
       left: 0;
       visibility: hidden;
       opacity: 0;
   }

   & &__image.ImageGrid__image--done {
       .ImageGrid__imageSkelton {
           position: absolute;
           top: 0;
           left: 0;
           visibility: hidden;
       }

       .ImageGrid__imageContent {
           position: static;
           visibility: visible;
           animation: ReadImage-doneAnimation $animation-duration ease-in-out 1;
           opacity: 1;
       }
   }

   & &__actionArea,
   & &__loading {
       margin-top: 40px;
       text-align: center;
       line-height: 40px;
   }

   & &__button {
       margin: 0 auto;
       display: block;
       background-color: $global-color-gray-4;
       border-radius: 16px;
       color: $global-color-white;
       width: 600px;
       padding: 12px;
       font-weight: bold;

       &:hover {
           opacity: 0.6;
       }
   }
}

@keyframes ReadImage-doneAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}